.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: #333;
    z-index: 786;
}

.home-btn{
    height: 30px;
    line-height: 18px;
    margin: 9px;
    background-color: #444;
    border: 1px solid #fff;
    color: #fff;
}