<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image">
      <md-icon>person_pin</md-icon>
    </div>
    <md-card-title>User Login</md-card-title>
    <md-card-subtitle>If you have already registered!</md-card-subtitle>
  </md-card-header>
  <!--<img md-card-image src="assets/images/shiba2.jpg" class="header-img">-->
  <md-card-content>
    <table class="form-tab">
      <tbody>
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Username" maxlength="18">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Passcode" type="password" maxlength="18">
            </md-input-container>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary">LOGIN</button>
  </md-card-actions>
</md-card>